body {
  display: grid;
  place-items: center;
}

.screen {
  width: 174px;
  height: 34px;
  margin-right: 6.4px;
  margin-left: -3px;
  border-radius: 20px;
  border: solid 2px;
  padding-left: 20px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.button,
.keys,
.clear,
.operator {
  width: 60px;
  height: 40px;
  border-radius: 50px;
}

.button-equals {
  background-color: hsl(110, 73%, 50%);
  border-radius: 50px;
}

.button-equals:hover {
  background-color: hsl(110, 73%, 45%);
}

.button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.operator {
  background-color: hsl(182, 100%, 50%);
}

.operator:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.clear {
  background-color: hsl(0, 100%, 49%);
}

.clear:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
