:root {
  --hover-lightness: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

body {
  display: grid;
  place-items: center;
}

.button {
  box-shadow: inset -3px -3px 7px #ffffffb0,
    3px 3px 5px rgba(94, 104, 121, 0.945);
  border: none;
}

.screen {
  width: 174px;
  height: 38px;
  margin-right: 6.4px;
  margin-left: -3px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  background-color: hsl(0, 0%, 94%);
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.945);
  font-size: 1.2rem;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.button,
.keys,
.clear,
.operator {
  width: 60px;
  height: 40px;
  border-radius: 50px;
  border: none;
  font-size: 1.2rem;
}

.clear:active {
  transform: translateY(2px);
}

.button:active {
  transform: translateY(2px);
}

.operator:active {
  transform: translateY(2px);
}

.button-equals:active {
  transform: translateY(2px);
}

.button-equals {
  background-color: hsl(110, 73%, 50%);
  border-radius: 50px;
  border: none;
  box-shadow: inset -3px -3px 7px hsl(110, 100%, 62%),
    3px 3px 5px hsla(218, 13%, 42%, 0.945);
}

.button-equals:hover {
  background-image: var(--hover-lightness);
}

.button:hover {
  background-image: var(--hover-lightness);
}

.operator {
  background-color: hsl(182, 100%, 50%);
  border: none;
  box-shadow: inset -3px -3px 7px hsl(182, 100%, 82%),
    3px 3px 5px hsl(218, 13%, 52%);
}

.operator:hover {
  background-image: var(--hover-lightness);
}

.clear {
  background-color: hsl(0, 100%, 49%);
  margin-bottom: 10px;
  margin-left: 2.8px;
  box-shadow: inset -3px -3px 7px hsl(0, 100%, 72%),
    3px 3px 5px hsla(218, 13%, 42%, 0.945);
}

.clear:hover {
  background-image: var(--hover-lightness);
}
